
/* General */
body{
    background: #101018;
    color: #FFFFFF;

    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
}

h1{
    font-family: 'Metal Mania', cursive;
}

/*classes*/
.jumbotron {
    color: #ffc107;;
    background: #0a050c;
    border: 1px #ffc107 solid;
}
